.slider-gallery {
    overflow: hidden;
    position: relative;
    height: 300px;
}

.slider-slides {
    position: absolute;
    width: 9999px;
}

.slider-slide {
    display: inline-block;
}

.prev-arrow {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 100px;
    background-color: #000;
    cursor: pointer;

    left: 10px;
}

.next-arrow {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 100px;
    background-color: #000;
    cursor: pointer;

    right: 10px;
}